.home-page {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#0055ff, #0055ff94, #0055ff25);
    backdrop-filter: blur(1px);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.greeting-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 8px;
}

.home-main-heading {
    color: #fff;
    font-size: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.home-sub-heading {
    color: #eee;
    font-size: 16px;
    margin: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.32px;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.notification-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 12px;
    background-color: #ccc;
    cursor: pointer;
}

.home-page-tiles {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    margin: 0;
    padding: 0;
    gap: 20px;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.home-page-tile {
    width: 540px;
    cursor: pointer;
}

.tile-container {
    max-width: 540px;
    width: 100%;
    position: relative;
}

#carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 270px;
    width: 48%;
    height: 42%;
    max-height: 120px;
    position: absolute;
    top: 14px;
    right: 15px;
    /* border: 1px solid black; */
}

#carousel>div {
    position: absolute;
    top: 40px;
    right: 12%;
}

#progress {
    max-width: 270px;
    width: 50%;
    height: 46%;
    max-height: 80px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 19px;
    right: 15px;
}

.empty-progress-bar {
    max-width: 180px;
    width: 100%;
    border: 8px solid #cfd9e1;
    border-radius: 10px;
    position: absolute;
    bottom: 22px;
    left: 15px;
}

.filled-progress-bar {
    max-width: 180px;
    border: 8px solid #113f67;
    border-radius: 10px;
    position: absolute;
    top: -8px;
    left: -8px;
}


@media screen and (max-width:585px) {
    #carousel>div {
        top: 22%;
        right: 7px;
    }

    #progress {
        transform: scale(0.7);
        bottom: 4px;
        right: 5%;
    }
}

@media screen and (max-width:440px) {
    #progress {
        /* right: 12%px; */
        margin-right: 5%;
    }
}

#percentage {
    position: absolute;
    right: -46px;
    top: -21px;
    color: #03045E;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
}

.home-page-heading {
    color: #fff;
    font-size: 28px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    line-height: normal;
    letter-spacing: -0.56px;
    margin-top: 12px;
    margin-bottom: 6px;
}

.home-page-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    height: max-content;
    gap: 1%;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .navbar {
        align-items: start;
    }
}