.social-forum-page-row {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 18px;
    padding-right: 12px;
    width: 100%;
    height: 80vh;
}

.chat-users-container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    min-height: 800px;
    max-height: 800px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    background-image: linear-gradient(#0055ffd8, #00ff40d2);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);

}

.chat-users-container-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 12px;
    margin-top: 36px;
    height: 60px;
}

.chat-users-container-btn-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 46px;
    margin-top: 18px;
    height: 40px;
}

.chat-users-add-friend-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 150px;
    height: 45px;
    border: none;

    color: #FFF;
    font-size: 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;


    border-radius: 20px;
    cursor: pointer;
    background: #0088ff;
}
.chat-users-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    height: max-content;

    color: #ccc;
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}
.chat-users-btn-active{
    color: #FFF;
}
.chat-users-seperator-line {
    width: 100%;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    height: 0;
}

.chat-users-msg-column-container {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 620px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    overflow-x: hidden;
}

.chat-users-msg-column-container::-webkit-scrollbar {
    width: 6px;
}

.chat-users-msg-column-container scrollbar-thumb {
    background-color: transparent;
}

.chat-users-msg-tile {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 8px 0px;
    /* padding-left: 12px;4 */

    min-height: 80px;
    margin: 4px 0px;
    border-radius: 10px;
    background: rgba(218, 218, 218, 0.40);
    cursor: pointer;
}

.chat-users-msg-left-row {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 12px;
    gap: 8px;
    width: 80%;
}

.chat-users-display-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #0088ff;
    border-radius: 50%;
}

.chat-users-username {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    overflow: hidden;

    color: #000;
    font-size: 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
}

.chat-users-groupname-input {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    width: 90%;
    font-size: 16px;
    padding-left: 12px;
    height: 40px;
    border-radius: 10px;
}

.chat-users-groupname-input::placeholder {
    font-size: 16px;
    font-family: "Poppins";
}

.chat-users-msg {
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: start;
    overflow: hidden;


    color: #1e1e1e;
    font-size: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
}

.chat-users-msg-time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 100%;
    width: 90px;
    margin-right: 8px;
}

.chat-users-group-create-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 8px 8px;
    border-radius: 8px;
    background-color: #113F67;
    color: #FFF;
    font-size: 16px;
    margin-right: 8px;
}

.chat-users-msg-column {
    width: 80%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}

.msg-box-nav {
    margin-top: 24px;
    justify-content: start;
    padding-left: 0px;
}


.chat-msg-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    min-height: 630px;
    overflow-y: auto;
}

.msg {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin: 5px;
    padding: 12px;
    font-size: 16px;
    font-family: Poppins;
    color: #fff;
    border-radius: 12px;
    max-width: 320px;
}

.right-side-msg>p,
.left-side-msg>p {
    margin: 0;
}

.msg-author {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    font-weight: 600;
    color: #ccc;
    margin-bottom: 5px;
}

.msg-time {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
}

.msg-text {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 18px;
    font-weight: 400;
    min-width: 100px;
}

.left-msg-tile {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.right-msg-tile {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.left-side-msg {
    border-radius: 20px;
    background: rgba(196, 196, 196, 0.46);
    color: #000000;
}

.left-side-msg>.msg-time {
    color: #333;
}

.right-side-msg>.msg-time {
    color: #ccc;
}

.right-side-msg {
    color: #fff;
    border-radius: 20px;
    background: rgba(17, 63, 103, 0.60);
}


.chat-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    width: 120%;
    min-height: 60px;
    margin-bottom: 12px;
    background-color: #cfcdcd;
}

.chat-input {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-left: 30px;
    font-size: 16px;
    border: none;
    outline: none;
}

.send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    width: 100px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: #fff;
    outline: none;
}

@media screen and (max-width:768px) {
    .social-forum-page-row {
        flex-direction: column;
    }
}