.onboarding-page {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100vh;
    background-color: black;
    background-image: url(https://i.pinimg.com/originals/16/3d/50/163d506c0e4d603c598d92d7ac425896.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    font-family: Poppins;
    position: relative;
}

.onboarding-logo {
    position: absolute;
    left: 0;
    top: 15px;
    z-index: 2;
}

.onboarding-logo>img {
    max-width: 130px;
    object-fit: cover;
}

@media screen and (max-width:778px) {
    .onboarding-logo {
        display: none;
    }
}

.onboarding-left-container {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 100%;
    background-color: rgba(20, 4, 78, 0.695);
    backdrop-filter: blur(4px);
}

.onboarding-left-column {
    transform: scale(0.9);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
    width: 100%;
    max-width: 550px;
    height: 100%;
}

.onboarding-main-heading {
    color: #ffffff;
    font-size: 38px;
    margin: 0;
}

.onboarding-sub-heading {
    color: #ffffff;
    font-size: 22px;
    margin: 0;
}

.onboarding-question {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}

.onboarding-btn {
    display: flex;
    height: 70px;
    width: 100%;
    padding: 0 28px;
    align-items: center;
    justify-content: start;
    gap: 20px;
    border: none;
    border-radius: 20px;
    color: #FFF;
    background: #ffffff71;
    backdrop-filter: blur(6px);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.onboarding-btn-selected {
    background: #78b7ef;
}

.onboarding-btn-text {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.onboarding-btn-text-selected {
    color: #000000;
}

.onboarding-btn-continue {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    margin-top: 15px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    color: #333;
    font-family: Poppins;
    font-weight: 500;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.continue-btn-unselected {
    background: #ffffffac;
}

.continue-btn-selected {
    background: #c4c26f;
    color: black;
}

.onboarding-btn-skip {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    border: none;
    border-radius: 20px;
    color: #000;
    font-size: 18px;
    font-family: Poppins;
    background: #ffffff88;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.OnBoardingSurvey-page-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-color: black;
    font-family: Poppins;
}

.OnBoardingSurvey-page-bg1 {
    background-size: cover;
    background-position: right;
    background-repeat: repeat-x;
    background-position: 0 0;
    animation: slide 20s linear infinite;
    background-image: url(https://cdn.pixabay.com/photo/2018/08/23/07/35/thunderstorm-3625405_1280.jpg);
}

.OnBoardingSurvey-page-bg2 {
    background-image: url(https://th.bing.com/th/id/R.195092eac117d631661cd456a8af54e6?rik=3ulo91dKGrtlkw&riu=http%3a%2f%2fwww.pixelstalk.net%2fwp-content%2fuploads%2f2016%2f11%2fCalm-Wallpaper-for-Desktop.jpg&ehk=aEoVihsfJaI5fGLpdERLmKzSF5wUVRRf8EiEPPZcCJ8%3d&risl=&pid=ImgRaw&r=0);
    background-repeat: repeat-x;
    background-position: 0 0;
    animation: slide 20s linear infinite;
}

@keyframes slide {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.onboarding-back-btn {
    margin-top: 6px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.onboarding-column-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.onboarding-column-img-container>svg {
    max-height: 400px;
    max-width: 400px;
    height: 100%;
    width: 100%;
}