.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../assets/homepage-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hamburger-menu-button {
    display: none;
}

.hamburger-on-sidebar {
    display: none;
    align-items: center;
    justify-content: end;
    width: 100%;
    padding-right: 5%;
}

.show-side-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    max-width: 310px;
    min-width: 240px;
    flex-shrink: 0;
    background: rgba(218, 218, 218, 0.20);
    backdrop-filter: blur(50px);
}

.home-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 18%;
    max-width: 310px;
    min-width: 240px;
    flex-shrink: 0;
    background: rgba(218, 218, 218, 0.20);
    backdrop-filter: blur(50px);
}



.sidebar-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    max-width: 260px;
    gap: 12px;
}

.sidebar-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 48px;
    width: 100%;
    max-width: 362px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #FFFFFF;
}

.sidebar-btn-selected {
    background-color: #113F67;
}

.sidebar-btn-text {
    display: flex;
    color: #525252;
    align-items: center;
    justify-content: start;
    width: 130px;
    font-size: 16px;
    font-weight: 400;
}

.sidebar-btn-text-selected {
    font-weight: 500;
    color: white;
}

.PrivacyText {
    color: #113F67;
    font-size: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.notification-pannel {
    position: absolute;
    right: 105px;
    top: 90px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);


    width: 90%;
    max-width: 450px;
    padding-bottom: 8px;

    z-index: 2;
}

.noti-logo {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;

    margin: 12px 0px;
}

.notification {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 95%;
    margin: 5px 0px;
    border-radius: 12px;
    background-color: #DADADA;
}

.notification>div {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    padding: 5px 0px;
    line-height: normal;
    letter-spacing: -0.32px;
    max-width: 90%;
}

@media screen and (max-width: 768px) {
    .home-sidebar {
        display: none;
    }

    .hamburger-on-sidebar {
        display: flex;
    }

    .hamburger-menu-button {
        display: flex;
    }

    .notification-pannel {
        right: 20px;
        top: 70px;

    }
}