.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../assets/homepage-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 18%;
    max-width: 302px;
    flex-shrink: 0;
    background: rgba(218, 218, 218, 0.20);
    backdrop-filter: blur(50px);
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    width: 100%;
    gap: 1%;
    overflow: hidden;
    /* overflow-y: scroll; */
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#ffffff, #ffffff27, #ffffff00);
}

.sidebar-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    max-width: 260px;
    gap: 12px;
}

.sidebar-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 48px;
    width: 100%;
    max-width: 362px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #FFFFFF;
}

.sidebar-btn-selected {
    background-color: #113F67;
}

.sidebar-btn-text {
    display: flex;
    color: #525252;
    align-items: center;
    justify-content: start;
    width: 130px;
    font-size: 16px;
    font-weight: 400;
}

.sidebar-btn-text-selected {
    font-weight: 600;
    color: white;
}

.PrivacyText {
    color: #113F67;
    font-size: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.greeting-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 8px;
}

.home-main-heading {
    color: #113F67;
    font-size: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.home-sub-heading {
    color: #525252;
    font-size: 16px;
    margin: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.32px;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.notification-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}

.home-page-tiles {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    margin: 0;
    padding: 0;
    gap: 20px;
    width: 100%;
}

.home-page-tile {
    width: 540px;
    cursor: pointer;
}

.tile-container {
    max-width: 540px;
    width: 100%;
    position: relative;
}

#carousel {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    max-width: 270px;
    width: 50%;
    height: 46%;
    max-height: 120px;
    position: absolute;
    top: 14px;
    right: 15px;
}

#progress {
    max-width: 270px;
    width: 50%;
    height: 46%;
    max-height: 80px;
    position: absolute;
    bottom: 19px;
    right: 15px;
}

.empty-progress-bar {
    width: 180px;
    border: 8px solid #cfd9e1;
    border-radius: 10px;
    position: absolute;
    bottom: 22px;
    left: 15px;
}

.filled-progress-bar {
    max-width: 180px;
    border: 8px solid #113f67;
    border-radius: 10px;
    position: absolute;
    top: -8px;
    left: -8px;
}

#percentage {
    position: absolute;
    right: -46px;
    top: -21px;
    color: #03045E;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
}
.home-page-heading{
    color: #113F67;
        font-size: 28px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.56px;
}

.home-page-cards{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: start;
    gap: 1%;
    width: 100%;
}