.calendar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    background-color: #fff;
    padding: 16px;
    padding-bottom: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

.calendar {
    width: 100%;
    max-width: 300px;
    padding: 10px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.month-picker {
    color: #000;
    font-size: 18.833px;
    font-family: Poppins;
    font-weight: 900;
}

.year-picker {
    display: flex;
    align-items: center;
    gap: 12px;
}

.year-change {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 300;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.year-change:hover {
    background-color: #ebebeb;
}

.calendar-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar-week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
    width: 100%;
}

.calendar-week-days div {
    padding: 5px;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
    width: 100%;
}

.calendar-days div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.calendar-days div:hover {
    background-color: #ebebeb;
}

.current-date {
    background-color: #113F67;
    color: #fff;
    /* height: 30px;
    width: 30px; */
}

.current-time {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.current-time span {
    display: block;
}

.calendar-bottom-container {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.calendar-bottom {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
    gap: 20px;
    justify-content: space-evenly;
    height: max-content;
}

.current-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin-bottom: 12px;
    flex-direction: column;
}

.Today-text {
    font-family: Microsoft JhengHei UI;
    font-size: 1.4rem;
    padding-right: 5%;color: #3b3b3b;
    border-right: 3px solid #113F67;
}

.time {
    font-size: 1.5rem;
}

.date {
    font-size: 1.05rem;color: #3b3b3b;
}